@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}

.active {
  @apply text-slate-500;
}

.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255) !important;
  opacity: .5 !important;
}


.swiper-pagination-bullet-active {
  background-color: rgb(234,179,8) !important;
  opacity: 1 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2, 6, 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(24, 34, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 56, 68);
}
.swiper-button-prev ,.swiper-button-next{
  height: 30px !important;
  width:  30px !important;
  border-radius: 50% !important;;
  background-color: #000;
  color: #fff !important;
}
.swiper-button-prev:hover ,.swiper-button-next:hover{
  color: rgb(234,179,8) !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 15px !important;



}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
 
}